* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Titillium Web', sans-serif;
}
#cards-group {
    display: flex;
    flex-direction: row; /*Eixo principal horizontal */
    align-items: flex-start;
    gap: 36px;
    position: absolute;
    width: 1216px;
    height: 454px;
    left: 80px;
    top: 100px;
}
.card{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 48px 32px 32px 32px;
    gap: 14px;
    background-color: #FFFFFF;
    border: 1px solid #E2E8F0;
    border-radius: 10px;
    width: 384px;
    height: 454px;
}
.card:hover {
    border: 1px solid #996dff;
    border-radius: 6px;
 }
.card-especial {
    display: flex;
    flex-direction: column;
    padding: 48px 32px 32px 32px;
    background-color: #F8FAFC;
    border: 1px solid #E2E8F0 ;
    border-radius: 10px;
    width: 384px;
    height: 454px;
    background: #0F172A;
}
.card-especial:hover {
    border: 1px solid white;
    border-radius: 6px;
}

span {
    width: 147px;
    height: 21px;
    font-weight: 600; /*Peso da cor*/
    font-size: 13px;
    line-height: 30px; /*Largura entre os textos*/
    letter-spacing: 0.06em; /*espaçamento entre as letras*/
    text-transform: uppercase;
    color: #7c3aed;
}
.texto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px;
    gap: 8px;  
}
button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    border: 1px solid #1E293B;
    border-radius: 4px;
    cursor: pointer;
    margin: 9px 0px 9px 0px;
    /*text*/
    font-weight: 700;
    font-size: 16px;
    color: #1E293B;
}
hr {
    margin-bottom: 30px;
    border: 1px solid #e2e8f0;
}
h1{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
}
p {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
img {
    width: 20px;
    height: 20px;
}
.info p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #475569;
    line-height: 39px;
    
}
pre {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #475569;
}
 .info {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0px;
    gap: 10px;
 }
 .checkinfo {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 100%;
}
.card-especial span {
    line-height: 24px;
    color: #7c3aed;
    gap: 10px;
    
}
.text-especial { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px;
    gap: 8px;
    color: #F8FAFC;    
}
.card-especial button {
    margin: 30px 0px 22px 0px;
    background: #996DFF;
}
.card-especial .checkinfo p { 
    line-height: 40px;
    color: #CBD5E1;
}
.tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    position: absolute;
    width: 163px;
    height: 34px;
    left: calc(50% - 163px/2 - 0.5px);
    top: -18px;
    background-color: #FBA94C;
    border-radius: 10px;
}
button:hover {
    background-color: #996DFF;
    line-height: 20px;    
}
.card-especial button:hover{
    background: #7c3aed;
    line-height: 20px;
}






    






